#container{
    
    margin-right: 5%;
    margin-left: 10%;
    width: 1500px;
    height: 3330px;


}

#header{
    border: solid white 1px;
    background-color: black;
    height: 100px;
    width: 1200px;
    display: flex;
    gap: 7%;
    padding-right: 20%;   

}
#pic1{
    margin-left: 5%;
    margin-top:2%;
    width: 40px;
    height: 40px;
}
#pic1a{
    margin-top:2%;
    width: 40px;
    height: 40px;
}
#pic1b{
    margin-top:2%;
    width: 40px;
    height: 40px;
}

.navbar{
    text-decoration: none;
    color: white;
  font-size: 30px;   
}


.link{
    text-decoration: none;
    color: white;
    margin-left: 5%;
    margin-top: 1%;


}

#h4{
    color: white;
    margin-left: 0%;
    
}
.hr{
    margin-left: 5%;
}


#body1{
    border: solid white 1px;
    border-radius: 20px;
    width: 1100px ;
    height: 470px;
    margin-left: 13%;
    margin-right: 10%;
    margin-top: 1%;
    padding-bottom: 15%;
   background-image: url(Html-pics/head1.png);

}
#word{
    margin-top: 43%;
    color: white;
    margin-left: 5%;
    font-size: 50px;
    margin-bottom: 1px;
    
}

#para1{
    
margin-left: 5%;
margin-top: 0%;
color: white;
font-size: 25px;


}

.button1{
    border: solid white 1px;
    margin-top: 1px;
    margin-left: 80%;
    border-radius: 25px;
    padding: 12px 40px;
    font-size: 20px;
    cursor: pointer;

}
#body2{
    border: solid white 1px;
    border-radius: 20px;
    width: 1000px ;
    height: 580px;
    margin-left: 13%;
    margin-top: 1%;
    margin-right: 10%;


}

#out2a{
    display: flex;
    gap: 10%;
    margin-left: 10%;
}
#out2b{
    display: flex;
    gap: 10%;
    margin-left: 10%;
}

#word2{
    text-align: center;
    font-size: 50px;
}

.pic{
    width: 150px;
    height: 150px;
    margin-left: 5%;
}
#button2{
    margin-left: 40%;
    border: solid black 1px;
    border-radius: 25px;
    padding: 12px 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

#body3{
    border: solid white 1px;
    border-radius: 20px;
    width: 900px ;
    height: 550px;
    margin-left: 13%;
    padding-top: 7%;
    margin-top: 12%;
    margin-right: 10%;

    
}

#word3a{
    display: flex;
    gap: 10%;
    width: 1050px;
    
}
#button3{
    margin-left: 10%;
    border: solid black 1px;
    border-radius: 25px;
    padding: 12px 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;

}
#word3{
    
    font-size: 50px;
    margin-left: 1%;



}
#para3{

    font-size: 20px;
    color: gray;
    
    
}
        
#pic2{
    float: left;
    margin-left: 10%;

}
.pic2{
    width: 200px;
    height: 200px;
    float: left;

}
#pic3{
    float: right;
    margin-right: 20%;
}
.pic3{
    width: 300px;
    height: 300px;
    float: right;

}


#body4{
    border: solid white 1px;
    border-radius: 20px;
    width: 1200px ;
    height: 500px;
    margin-left: 13%;
    margin-top: 1%;
    margin-right: 10%;

}

#imgside{
    display: flex;
    gap: 2%;
}

#word4{
        text-align: center;
        font-size: 40px;


}
.pic4{
    width: 250px;
    height: 250px;
    border: soli white 1px;
    border-radius: 15px;
    margin-right: 10px;
    background-color: palevioletred;


}

#button4{
    margin-left: 35%;
    border: solid black 1px;
    border-radius: 25px;
    padding: 10px 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#img{
    width: 500px;
    height: 250px;
    margin-left: 20%;
    margin-top: 1%;

}


#body5{
    border: solid white 1px;
    border-radius: 20px;
    width: 1000px ;
    height: 100px;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 8%;
    padding-bottom: 15%;
   background-image: url(Html-pics/end1.jpg);
}

#word5{
    font-size: 45px;
    color: white;
    margin-top: 2%;
    margin-left: 40%;
}
.email{
    border: solid black 1px;
    border-radius: 25px;
    padding: 15px 25px;
    margin-left: 48%;
    position:relative;


}
#button5{
    border: solid black 1px;
    border-radius: 25px;
    padding: 12px 20px;
    background-color: black;
    color: white;
    margin-right: 35%;
    cursor: pointer;
    position: absolute;

}
#footer{
    border: solid black 1px;
    height: 300px;
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 15%;
    background-color:black;

}
#footerside{
    display: flex;
    gap: 0%;
}

#iconside{
    display: flex;
    gap: 2%;
}

#icon1{
color: aliceblue;
font-size:24px;
}

#icon2{
    color: aliceblue;
font-size:24px;
    
}#icon3{
    color: aliceblue;
    font-size:24px; 
}




