#header{
    border: solid white 1px;
    background-color: black;
    height: 100px;
    width: 1200px;
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 20%;



}
.navbar{
    text-decoration: none;
    color: white;
    
}
#footer{
    border: solid black 1px;
    width: 12o0px;
    height: 300px;
    margin-left: 0%;
    margin-right: 0%;
    padding-right: 15%;
    background-color: black;

}

.link{
    text-decoration: none;
    color: white;
    margin-left: 5%;
    margin-top: 1%;


}


#container{
    border: solid black 1px;
    margin-right: 5%;
    margin-left: 10%;
    width: 1500px;
    height: 3250px;

}


#body1{
    border: solid white 1px;
    border-radius: 20px;
    width: 900px ;
    height: 375px;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 1%;
    padding-bottom: 15%;
   background-image: url(Html-pics/head1.png);

}
#word{
    margin-top: 43%;
    color: white;
    margin-left: 5%;
    font-size: 50px;
    margin-bottom: 1px;

    

    
}

#para1{
    
margin-left: 5%;
margin-top: 0%;
color: white;
font-size: 25px;


}

.button1{
    border: solid white 1px;
    margin-top: 1px;
    margin-left: 80%;
    border-radius: 25px;
    padding: 12px 40px;
    font-size: 20px;

}
#body2{
    border: solid white 1px;
    border-radius: 20px;
    width: 1000px ;
    height: 580px;
    margin-left: 15%;
    margin-top: 1%;

}

#word2{
    text-align: center;
    font-size: 50px;
}

.pic{
    width: 150px;
    height: 150px;
    margin-left: 5%;
}
#button2{
    margin-left: 40%;
    border: solid black 1px;
    border-radius: 25px;
    padding: 12px 40px;
    background-color: black;
    color: white;
    font-size: 20px;

}

#body3{
    border: solid white 1px;
    border-radius: 20px;
    width: 900px ;
    height: 550px;
    margin-left: 15%;
    padding-top: 7%;

    
}

#word3{
    text-align: center;
    font-size: 50px;
    margin-left: 1%;
    float: left;


}
#para3{
    float: right;
    font-size: 20px;
    color: gray;
    margin-left: 30%;
    margin-right: 0%;
    
}
        
#pic2{
    float: left;
    margin-left: 10%;

}
.pic2{
    width: 200px;
    height: 200px;
    float: left;

}
#pic3{
    float: right;
    margin-right: 20%;
}
.pic3{
    width: 300px;
    height: 300px;
    float: right;

}
#button3{
    margin-left: 45%;
    border: solid black 1px;
    border-radius: 25px;
    padding: 12px 40px;
    background-color: black;
    color: white;
    font-size: 20px;

}

#body4{
    border: solid white 1px;
    border-radius: 20px;
    width: 1200px ;
    height: 500px;
    margin-left: 15%;
    margin-top: 1%;

}

#word4{
        text-align: center;
        font-size: 40px;


}
.pic4{
    width: 250px;
    height: 250px;
    border: soli white 1px;
    border-radius: 15px;
    margin-right: 10px;
    background-color: palevioletred;


}

#button4{
    margin-left: 35%;
    border: solid black 1px;
    border-radius: 25px;
    padding: 10px 40px;
    background-color: black;
    color: white;
    font-size: 20px;
}

#img{
    width: 500px;
    height: 250px;
    margin-left: 20%;
    margin-top: 1%;

}


#body5{
    border: solid white 1px;
    border-radius: 20px;
    width: 1000px ;
    height: 100px;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 1%;
    padding-bottom: 15%;
   background-image: url(Html-pics/end1.jpg);
}

#word5{
    font-size: 45px;
    color: white;
    margin-top: 2%;
    margin-left: 40%;
}
.email{
    border: solid black 1px;
    border-radius: 25px;
    padding: 15px 25px;
    margin-left: 48%;

}
#button5{
    border: solid black 1px;
    border-radius: 25px;
    padding: 12px 20px;
    background-color: black;
    color: white;
    margin-right: 20%;


}
