#header{
    border: solid white 1px;
    background-color: black;
    height: 100px;
    width: 1200px;
    margin-left: 20%;
    padding-left: 5%;



}
.navbar{
    text-decoration: none;
    color: white;
    
}
#footer{
    border: solid black 1px;
    width: 12o0px;
    height: 200px;
    margin-left: 20%;
    padding-right: 5%;
    background-color: black;

}

.link{
    text-decoration: none;
    color: white;
    margin-left: 5%;
    margin-top: 1%;


}


#bodyouter{
    border: solid black 1px;
}


#body1{
    border: solid black;
    width: 900px ;
    height: 450px;
    margin-left: 25%;
    margin-top: 1%;
    padding-bottom: 15%;
   background-image: url(Html-pics/head1.png);

}
#word{
    margin-top: 30%;
    justify-content: center;
    
}

#para1{
    
margin-left: 27%;
margin-top: 0%;


}

.button{
    border: solid black 1px;

}
#body2{
    border: solid black;
    width: 900px ;
    height: 350px;
    margin-left: 25%;
    margin-top: 1%;

}

.pic{
    width: 100px;
    height: 100px;
    margin-left: 5%;
}

#body3{
    border: solid black;
    width: 900px ;
    height: 320px;
    margin-left: 25%;
    margin-top: 1%;
}

.pic2{
    width: 200px;
    height: 200px;

}

#body4{
    border: solid black 1px;
    width: 900px ;
    height: 320px;
    margin-left: 25%;
    margin-top: 1%;

}
.pic4{
    width: 200px;
    height: 200px;
}

#body5{
    border: solid black 1px;
    width: 900px ;
    height: 280px;
    margin-left: 25%;
    margin-top: 1%;
}
#img{
    width: 500px;
    height: 250px;
    margin-left: 20%;
    margin-top: 1%;

}


